.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.App {
  font-family: 'Andika', sans-serif;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

h4 {
  font-family: 'Amatic SC', cursive;
  font-size: 1.2em;
}

p {
  font-size: 1.3em;
}
